# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure hadoop group exists
  ansible.builtin.include_role:
    name: tosit.tdp.utils.group
  vars:
    group: "{{ hadoop_group }}"

- name: Ensure zookeeper user exists
  ansible.builtin.include_role:
    name: tosit.tdp.utils.user
  vars:
    user: "{{ zookeeper_user }}"
    group: "{{ hadoop_group }}"

- name: Upload {{ zookeeper_dist_file }}
  ansible.builtin.copy:
    src: "{{ binaries_local_dir }}/{{ zookeeper_dist_file }}"
    dest: "{{ binaries_upload_dir }}/{{ zookeeper_dist_file }}"
    group: root
    owner: root
    mode: "644"
  diff: false

- name: Ensure {{ hadoop_root_dir }} exists
  ansible.builtin.file:
    path: "{{ hadoop_root_dir }}"
    state: directory
    group: root
    owner: root
    mode: "755"

- name: Extract {{ zookeeper_dist_file }}
  ansible.builtin.unarchive:
    src: "{{ binaries_upload_dir }}/{{ zookeeper_dist_file }}"
    dest: "{{ hadoop_root_dir }}"
    group: root
    owner: root
    mode: "755"
    remote_src: true
    creates: "{{ hadoop_root_dir }}/{{ zookeeper_dist_release }}"

- name: Ensure {{ zookeeper_dist_file }} permissions are correct
  ansible.builtin.file:
    path: "{{ hadoop_root_dir }}/{{ zookeeper_dist_release }}"
    state: directory
    group: root
    owner: root
    mode: "755"

- name: Create symbolic link to Zookeeper installation
  ansible.builtin.file:
    src: "{{ hadoop_root_dir }}/{{ zookeeper_dist_release }}"
    dest: "{{ zookeeper_install_dir }}"
    state: link

- name: Create log directory
  ansible.builtin.file:
    path: "{{ zookeeper_log_dir }}"
    state: directory
    group: "{{ hadoop_group }}"
    owner: "{{ zookeeper_user }}"
    mode: "750"
