# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Add directory for spark logs and data
  run_once: true
  tosit.tdp.hdfs_file:
    hdfs_conf: "{{ hadoop_conf_dir }}"
    path: "{{ item.path }}"
    state: "{{ item.state | default(omit) }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    mode: "{{ item.mode | default(omit) }}"
    kerberos: true
    krb_principal: "{{ hdfs_headless_principal }}"
    krb_keytab: /etc/security/keytabs/hdfs.headless.keytab
  become: true
  become_user: "{{ hdfs_user }}"
  loop:
    - path: "/{{ spark_version }}-logs"
      state: directory
      owner: "{{ spark_user }}"
      group: "{{ hadoop_group }}"
      mode: "1777"
    - path: "/user/spark"
      state: directory
      owner: "{{ spark_user }}"
      group: "{{ spark_user }}"
      mode: "700"
    - path: "/{{ spark_version }}-data"
      state: directory
      owner: "{{ spark_user }}"
      group: "{{ spark_user }}"
      mode: "700"
