# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---

- name: Create temporary build directory
  tempfile:
    state: directory
    suffix: mk
  register: workdir_tmp

- name: Upload {{ spark_dist_file }}
  copy:
    src: "files/{{ spark_dist_file }}"
    dest: "{{workdir_tmp.path}}"
  diff: no

- name: Extract {{ spark_dist_file }}
  unarchive:
    src: "{{workdir_tmp.path}}/{{ spark_dist_file }}"
    dest: "{{ spark_root_dir }}"
    group: root
    owner: root
    remote_src: yes
    creates: "{{ spark_root_dir }}/{{ spark_release }}"

- name: Create symbolic link to Spark installation
  file:
    src: "{{ spark_root_dir }}/{{ spark_release }}"
    dest: "{{ spark_install_dir }}"
    state: link

- include_role:
    name: tosit.tdp.utils.user
  vars:
    user: "{{ spark_user }}"
    group: "{{ hadoop_group }}"

- name: Create directory for pid
  file:
    path: "{{ spark_pid_dir }}"
    state: directory
    group: "{{ hadoop_group }}"
    owner: "{{ spark_user }}"

- name: Template spark tmpfiles.d
  template:
    src: tmpfiles-spark.conf.j2
    dest: "/etc/tmpfiles.d/{{ spark_version }}.conf"

- name: Create log directory
  file:
    path: "{{ spark_log_dir }}"
    state: directory
    group: "{{ hadoop_group }}"
    owner: "{{ spark_user }}"

- name: Remove tmp path
  file:
    state: absent
    path: "{{workdir_tmp.path}}"