com.sun.security.jgss.initiate {
    com.sun.security.auth.module.Krb5LoginModule required
    renewTGT=true
    doNotPrompt=true
    useKeyTab=true
    keyTab="/etc/security/keytabs/knox.service.keytab"
    principal="knox/{{ ansible_fqdn }}@{{ realm }}"
    isInitiator=true
    storeKey=true
    useTicketCache=true
    client=true;
};
