[Unit]
Description=HiveMetastore

[Service]
User={{ hive_user }}
Group={{ hadoop_group }}
PIDFile={{ hive_pid_dir }}/metastore.pid
ExecStart={{ hive_install_dir }}/bin/start-metastore.sh
LimitNOFILE=64000
Restart={{ hivemetastore_restart }}

[Install]
WantedBy=multi-user.target
