[Unit]
Description=HiveMetastore
After=network-online.target
Wants=network-online.target

[Service]
User={{ hive_user }}
Group={{ hadoop_group }}
ExecStart={{ hive_install_dir }}/bin/start-metastore.sh
SuccessExitStatus=143
LimitNOFILE=64000
Restart={{ hivemetastore_restart }}
SyslogIdentifier=hive-metastore

[Install]
WantedBy=multi-user.target
