# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

THISSERVICE=metaSchemaTool
export SERVICE_LIST="${SERVICE_LIST}${THISSERVICE} "

metaSchemaTool() {
  HIVE_OPTS=''
  CLASS=org.apache.hadoop.hive.metastore.tools.schematool.MetastoreSchemaTool
  execHiveCmd $CLASS "$@"
}

metaSchemaTool_help () {
  HIVE_OPTS=''
  CLASS=org.apache.hadoop.hive.metastore.tools.schematool.MetastoreSchemaTool
  execHiveCmd $CLASS "--help"
}
