# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Render jmx-exporter config file jmx-exporter.yml
  ansible.builtin.copy:
    content: "{{ jmx_exporter | to_nice_yaml }}"
    dest: "{{ hbase_root_conf_dir }}/{{ hbase_jmx_exporter_conf_file }}"
    owner: "{{ hbase_user }}"
    group: "{{ hadoop_group }}"
    mode: "640"
  no_log: true
