# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure kerberos common installation steps are performed
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: install

- name: Ensure hadoop kerberos common installation steps are performed
  ansible.builtin.import_role:
    name: tosit.tdp.hadoop.common
    tasks_from: kerberos

- name: Ensure spark user's principal and keytab exist
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  vars:
    principal: spark/{{ ansible_fqdn }}@{{ realm }}
    keytab: spark.service.keytab
    user: "{{ spark_user }}"
    group: "{{ hadoop_group }}"
    mode: "0600"
  when: krb_create_principals_keytabs

- name: Ensure spark keytab works
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: check_secure_keytab
  vars:
    principal: spark/{{ ansible_fqdn }}@{{ realm }}
    keytab: spark.service.keytab
    user: "{{ spark_user }}"
    group: "{{ hadoop_group }}"
    mode: "600"
  when: not krb_create_principals_keytabs
