ZOO_LOG_DIR="{{ zookeeper_log_dir }}"

JMX_OPTS="{{ jmx_common_opts }} -Dcom.sun.management.jmxremote.password.file={{ zookeeper_server_conf_dir }}/jmxremote.password"
SERVER_JVMFLAGS="-Xmx{{ zookeeper_server_heapsize }} ${JMX_OPTS} {{ jmx_exporter_zk_opts }} $SERVER_JVMFLAGS"
