[Unit]
Description=ZooKeeper
Requires=network.target
After=network.target

[Service]
Type=forking
User={{ zookeeper_user }}
Group={{ hadoop_group }}
Environment="ZOOCFGDIR={{ zookeeper_server_conf_dir }}"
ExecStart={{ zookeeper_install_dir }}/bin/zkServer.sh start
ExecStop={{ zookeeper_install_dir }}/bin/zkServer.sh stop
SuccessExitStatus=SIGKILL
Restart={{ zk_restart }}

[Install]
WantedBy=default.target
