# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure knox group exists
  ansible.builtin.include_role:
    name: tosit.tdp.utils.group
  vars:
    group: "{{ knox_group }}"

- name: Ensure knox user exists
  ansible.builtin.include_role:
    name: tosit.tdp.utils.user
  vars:
    user: "{{ knox_user }}"
    group: "{{ knox_group }}"

- name: Upload Knox binaries
  ansible.builtin.copy:
    src: "{{ binaries_local_dir }}/{{ item }}"
    dest: "{{ binaries_upload_dir }}/{{ item }}"
    owner: root
    group: root
    mode: "644"
  loop:
    - "{{ knox_dist_file }}"
    - "{{ knoxshell_dist_file }}"
  diff: false

- name: Ensure {{ knox_root_dir }} exists
  ansible.builtin.file:
    path: "{{ knox_root_dir }}"
    state: directory
    owner: root
    group: root
    mode: "755"

- name: Extract knox binaries
  ansible.builtin.unarchive:
    src: "{{ item.src }}"
    dest: "{{ knox_root_dir }}"
    owner: "{{ knox_user }}"
    group: "{{ knox_group }}"
    mode: "755"
    remote_src: true
    creates: "{{ item.creates }}"
  loop:
    - src: "{{ binaries_upload_dir }}/{{ knox_dist_file }}"
      creates: "{{ knox_root_dir }}/{{ knox_release }}"
    - src: "{{ binaries_upload_dir }}/{{ knoxshell_dist_file }}"
      creates: "{{ knox_root_dir }}/{{ knoxshell_release }}"

- name: Ensure knox permissions
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: "755"
    recurse: true
  loop:
    - "{{ knox_root_dir }}/{{ knox_release }}"
    - "{{ knox_root_dir }}/{{ knoxshell_release }}"

- name: Create symbolic link to Hadoop installation
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - src: "{{ knox_root_dir }}/{{ knox_release }}"
      dest: "{{ knox_install_dir }}"
    - src: "{{ knox_root_dir }}/{{ knoxshell_release }}"
      dest: "{{ knoxshell_install_dir }}"

- name: Create directory for pid
  ansible.builtin.file:
    path: "{{ knox_pid_dir }}"
    state: directory
    owner: "{{ knox_user }}"
    group: "{{ knox_group }}"
    mode: "750"

- name: Template knox tmpfiles.d
  ansible.builtin.template:
    src: tmpfiles-knox.conf.j2
    dest: /etc/tmpfiles.d/knox.conf
    owner: root
    group: root
    mode: "644"

- name: Create log directory
  ansible.builtin.file:
    path: "{{ knox_log_dir }}"
    state: directory
    owner: "{{ knox_user }}"
    group: "{{ knox_group }}"
    mode: "750"

- name: Create Keystore directory
  ansible.builtin.file:
    path: "{{ knox_keystore_dir }}"
    state: directory
    owner: "{{ knox_user }}"
    group: "{{ knox_group }}"
    mode: "744"
