[Unit]
Description=HDFS DataNode

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
PIDFile={{ hadoop_hdfs_pid_dir }}/hadoop-hdfs-datanode.pid
ExecStart={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_dn_conf_dir }} --daemon start datanode
ExecReload={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_dn_conf_dir }} --daemon restart datanode
ExecStop={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_dn_conf_dir }} --daemon stop datanode
LimitNOFILE=64000

[Install]
WantedBy=multi-user.target
