com.sun.security.jgss.accept  {
  com.sun.security.auth.module.Krb5LoginModule required
  storeKey=true
  useKeyTab=true
  keyTab=/etc/security/keytabs/spnego.service.keytab
  principal="HTTP/{{ ansible_fqdn }}@{{ realm }}";
};
