[Unit]
Description={{ spark_version | capitalize }} History Server
After=network-online.target
Wants=network-online.target

[Service]
User={{ spark_user }}
Group={{ hadoop_group }}
Type=forking
Environment="SPARK_PID_DIR={{ spark_pid_dir }}"
Environment="SPARK_CONF_DIR={{ spark_hs_conf_dir }}"
ExecStart={{ spark_install_dir }}/sbin/start-history-server.sh
ExecStop={{ spark_install_dir }}/sbin/stop-history-server.sh
SuccessExitStatus=143
LimitNOFILE=64000
Restart={{ spark_hs_restart }}

[Install]
WantedBy=multi-user.target
