[Unit]
Description=Mapred Job History Server

[Service]
User={{ mapred_user }}
Group={{ hadoop_group }}
PIDFile={{ hadoop_pid_dir }}/mapred/hadoop-mapred-historyserver.pid
ExecStart={{ hadoop_install_dir }}/bin/mapred --config {{ hadoop_jhs_conf_dir }} --daemon start historyserver
ExecReload={{ hadoop_install_dir }}/bin/mapred --config {{ hadoop_jhs_conf_dir }} --daemon restart historyserver
ExecStop={{ hadoop_install_dir }}/bin/mapred --config {{ hadoop_jhs_conf_dir }} --daemon stop historyserver
LimitNOFILE=64000
Restart={{ mapred_jhs_restart}}

[Install]
WantedBy=multi-user.target
