# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure kerberos common installation steps are performed
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: install

- name: Ensure knox user's principal and keytab exist
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  vars:
    principal: "knox/{{ ansible_fqdn }}@{{ realm }}"
    keytab: "knox.service.keytab"
    user: "{{ knox_user }}"
    group: "{{ knox_group }}"
    mode: "600"
  when: krb_create_principals_keytabs

- name: Ensure Knox spnego keytab works
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: check_secure_keytab
  vars:
    principal: "knox/{{ ansible_fqdn }}@{{ realm }}"
    keytab: "knox.service.keytab"
    user: "{{ knox_user }}"
    group: "{{ knox_group }}"
    mode: "600"
  when: not krb_create_principals_keytabs

- name: Template Knox Gateway JAAS file
  ansible.builtin.template:
    src: krb5JAASLogin.conf.j2
    dest: "{{ knox_conf_dir }}/krb5JAASLogin.conf"
    owner: root
    group: root
    mode: "644"

- name: Create symbolic link to krb5.conf
  ansible.builtin.file:
    src: /etc/krb5.conf
    dest: "{{ knox_conf_dir }}/krb5.conf"
    state: link
