[Unit]
Description=Solr
After=network-online.target
Wants=network-online.target

[Service]
User={{ solr_user }}
Group={{ hadoop_group }}
Environment="SOLR_PID_DIR={{ solr_pid_dir }}"
Environment="SOLR_LOGS_DIR={{ ranger_log_dir }}"
Environment="LOG4J_PROPS={{ solr_conf_dir }}/log4j2.properties"
Environment="SOLR_HEAP={{ ranger_solr_heapsize }}"
Environment="SOLR_DATA_HOME={{ ranger_solr_datadir }}"
PIDFile={{ solr_pid_dir }}/solr-8983.pid
ExecStart={{ solr_install_dir }}/bin/solr start 
ExecReload={{ solr_install_dir }}/bin/solr restart
ExecStop={{ solr_install_dir }}/bin/solr stop
LimitNOFILE=65000
Restart={{ solr_restart }}

[Install]
WantedBy=multi-user.target
