---
- name: Add hadoop group
  group:
    name: "{{ hadoop_group }}"

- name: Create ranger user
  user:
    name: "{{ ranger_user }}"
    group: "{{ hadoop_group }}"

- name: Upload {{ ranger_dist_file }}
  copy:
    src: "files/{{ ranger_dist_file }}"
    dest: /tmp

- name: Ensures {{ ranger_root_dir }} exists
  file:
    path: "{{ ranger_root_dir }}"
    state: directory

- name: Extract {{ ranger_dist_file }}
  unarchive:
    src: "/tmp/{{ ranger_dist_file }}"
    dest: "{{ ranger_root_dir }}"
    group: root
    owner: root
    remote_src: yes

- name: Create symbolic link to Ranger installation
  file:
    src: "{{ ranger_root_dir }}/{{ ranger_release }}"
    dest: "{{ ranger_install_dir }}"
    state: link

- name: Create directory for pid
  file:
    path: '{{ ranger_pid_dir }}'
    state: directory
    group: '{{ hadoop_group }}'
    owner: '{{ ranger_user }}'

- name: Create log directory
  file:
    path: '{{ ranger_log_dir }}'
    state: directory
    group: '{{ hadoop_group }}'
    owner: '{{ ranger_user }}'

- name: Create ranger config directory
  file:
    path: '{{ ranger_conf_dir }}'
    state: directory
    group: '{{ hadoop_group }}'
    owner: '{{ ranger_user }}'
