[Unit]
Description=HDFS JournalNode

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
PIDFile={{ hadoop_hdfs_pid_dir }}/hadoop-hdfs-journalnode.pid
ExecStart={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_jn_conf_dir }} --daemon start journalnode
ExecReload={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_jn_conf_dir }} --daemon restart journalnode
ExecStop={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_jn_conf_dir }} --daemon stop journalnode
LimitNOFILE=64000

[Install]
WantedBy=multi-user.target
