<?xml version="1.0" encoding="utf-8"?>
<topology>
    <gateway>
{% for provider_name, provider in gateway_topology.get('providers', {}).items() %}
        <provider>
            <role>{{ provider['role'] }}</role>
            <name>{{ provider_name }}</name>
            <enabled>{{ provider['enabled'] }}</enabled>
{% for parameter_name, parameter_value in provider.get('parameters', {}).items() %}
            <param>
                <name>{{ parameter_name }}</name>
                <value>{{ parameter_value }}</value>
            </param>
{% endfor %}
        </provider>
{% endfor %}
    </gateway>
{% for service_role, service in gateway_topology.get('services', {}).items() %}
    <service>
        <role>{{ service_role }}</role>
{% for host in service.get('hosts', []) %}
        <url>{{ service.get('scheme', 'https://') }}{{ host }}:{{ service['port'] }}{{ service.get('location', '') }}</url>
{% endfor %}
    </service>
{% endfor %}
</topology>
