# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure spark common installation steps are performed
  ansible.builtin.import_role:
    name: tosit.tdp.spark.common
    tasks_from: install

- name: Upload spark hbase jar
  ansible.builtin.copy:
    src: "{{ binaries_local_dir }}/{{ spark_hbase_dist_file }}"
    dest: "{{ spark_root_dir }}/{{ spark_release }}/jars"
    owner: root
    group: root
    mode: "644"
  when: spark_hbase_connector_enable and 'hbase_client' in groups
  diff: false

- name: Copy audience-annotations dependency
  ansible.builtin.copy:
    src: "{{ hbase_install_dir }}/lib/client-facing-thirdparty/audience-annotations-0.13.0.jar"
    dest: "{{ spark_root_dir }}/{{ spark_release }}/jars"
    owner: root
    group: root
    mode: "644"
    remote_src: true
  when: spark_hbase_connector_enable and 'hbase_client' in groups
  diff: false

- name: Create configuration directory
  ansible.builtin.file:
    path: "{{ spark_client_conf_dir }}"
    state: directory
    owner: root
    group: root
    mode: "755"

- name: "Render /usr/bin/{{ spark_version }}-submit command"
  ansible.builtin.template:
    src: spark-submit-command.j2
    dest: "/usr/bin/{{ spark_version }}-submit"
    owner: root
    group: root
    mode: "755"

- name: "Render /usr/bin/{{ spark_version }}-shell command"
  ansible.builtin.template:
    src: spark-shell-command.j2
    dest: "/usr/bin/{{ spark_version }}-shell"
    owner: root
    group: root
    mode: "755"

- name: "Render /usr/bin/{{ spark_version }}-sql command"
  ansible.builtin.template:
    src: spark-sql-command.j2
    dest: "/usr/bin/{{ spark_version }}-sql"
    owner: root
    group: root
    mode: "755"

- name: "Render /usr/bin/py{{ spark_version }} command"
  ansible.builtin.template:
    src: pyspark-command.j2
    dest: "/usr/bin/py{{ spark_version }}"
    owner: root
    group: root
    mode: "755"

- name: "Render /usr/bin/{{ spark_version }}R-shell command"
  ansible.builtin.template:
    src: sparkr-shell-command.j2
    dest: "/usr/bin/{{ spark_version }}r-shell"
    owner: root
    group: root
    mode: "755"
  when: (spark_version == "spark3") and spark_enable_r

- name: Create symbolic link to R library
  ansible.builtin.file:
    src: "{{ spark_install_dir }}/R/lib/SparkR"
    dest: "/usr/lib64/R/library/SparkR"
    state: link
  when: (spark_version == "spark3") and spark_enable_r
