# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: install

- import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  vars:
    principal: "spark"
    keytab: "spark.headless.keytab"
    user: "{{ spark_user }}"
    group: "{{ hadoop_group }}"
    mode: "600"
