# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Create knox service
  run_once: true
  ansible.builtin.uri:
    url: "{{ ranger_knox_install_properties.POLICY_MGR_URL }}/service/plugins/services"
    method: POST
    body:
      name: "{{ ranger_knox_install_properties.REPOSITORY_NAME }}"
      isEnabled: true
      configs:
        username: knox
        password: knox
        knox.url: "{{ ranger_knox_service_properties.knox_url }}"
        commonNameForCertificate: "{{ ranger_knox_service_properties.common_name_certificate }}"
        policy.download.auth.users: knox
        tag.download.auth.users: knox
      type: knox
    body_format: json
    force_basic_auth: true
    user: admin
    password: "{{ ranger_admin_password }}"
    headers:
      Content-Type: application/json
    status_code: [200, 400]
    validate_certs: false
  register: reg_knox
  changed_when: reg_knox.status == 200
  failed_when: |
    reg_knox is failed or
    reg_knox.status == 400 and
    (reg_knox.json.msgDesc is not defined or
    'Duplicate service name' not in reg_knox.json.msgDesc)

- name: Link hdfs-site and core-site in knox conf dir
  ansible.builtin.file:
    src: "{{ hadoop_conf_dir }}/{{ item }}"
    dest: "{{ knox_conf_dir }}/{{ item }}"
    state: link
  loop:
    - hdfs-site.xml
    - core-site.xml

# TODO Fix it in the build instead
- name: Quickfix of missing jars for ranger plugin
  ansible.builtin.shell: "ln -s {{ hadoop_root_dir }}/hadoop/share/hadoop/hdfs/hadoop-hdfs-* {{ ranger_knox_install_dir }}/lib/ranger-knox-plugin-impl/"
  ignore_errors: true
