# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure common ranger installation tasks are performed
  ansible.builtin.import_role:
    name: tosit.tdp.ranger.common
    tasks_from: install

- name: Ensure ranger kms user exists
  ansible.builtin.include_role:
    name: tosit.tdp.utils.user
  vars:
    user: "{{ ranger_kms_user }}"
    group: "{{ hadoop_group }}"

- name: Upload {{ ranger_kms_dist_file }}
  ansible.builtin.copy:
    src: "{{ binaries_local_dir }}/{{ ranger_kms_dist_file }}"
    dest: "{{ binaries_upload_dir }}"
    owner: root
    group: root
    mode: "644"
  diff: false

- name: Extract {{ ranger_kms_dist_file }}
  ansible.builtin.unarchive:
    src: "{{ binaries_upload_dir }}/{{ ranger_kms_dist_file }}"
    dest: "{{ ranger_root_dir }}"
    owner: "{{ ranger_kms_user }}"
    group: "{{ hadoop_group }}"
    mode: "755"
    remote_src: true
    creates: "{{ ranger_root_dir }}/{{ ranger_kms_release }}"

- name: Ensure right permissions on {{ ranger_root_dir }}/{{ ranger_kms_release }}
  ansible.builtin.file:
    path: "{{ ranger_root_dir }}/{{ ranger_kms_release }}"
    owner: "{{ ranger_kms_user }}"
    group: "{{ hadoop_group }}"
    mode: "755"
    state: directory

- name: Create symbolic link to Ranger KMS installation
  ansible.builtin.file:
    src: "{{ ranger_root_dir }}/{{ ranger_kms_release }}"
    dest: "{{ ranger_kms_install_dir }}"
    state: link

- name: Create Ranger KMS config directory
  ansible.builtin.file:
    path: "{{ ranger_kms_conf_dir }}"
    state: directory
    owner: root
    group: root
    mode: "755"

- name: Create directory for pid
  ansible.builtin.file:
    path: "{{ ranger_kms_pid_dir }}"
    state: directory
    owner: "{{ ranger_kms_user }}"
    group: "{{ hadoop_group }}"
    mode: "755"

- name: Template Ranger KMS tmpfiles.d
  ansible.builtin.template:
    src: tmpfiles-ranger-kms.conf.j2
    dest: /etc/tmpfiles.d/ranger-kms.conf
    owner: root
    group: root
    mode: "644"

- name: Create log directory
  ansible.builtin.file:
    path: "{{ ranger_log_dir }}"
    state: directory
    group: "{{ hadoop_group }}"
    owner: root
    mode: "770"

- name: Template Ranger KMS service file
  ansible.builtin.template:
    src: ranger-kms.service.j2
    dest: /usr/lib/systemd/system/ranger-kms.service
    owner: root
    group: root
    mode: "644"
  notify:
    - systemctl daemon-reload
