# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- include_role:
    name: tosit.tdp.utils.user
  vars:
    user: "{{ phoenix_queryserver_user }}"
    group: "{{ hadoop_group }}"

- name: Create temporary build directory
  tempfile:
    state: directory
    suffix: wk
  register: workdir_tmp


- name: Upload {{ phoenix_queryserver_dist_file }}
  copy:
    src: "files/{{ phoenix_queryserver_dist_file }}"
    dest: "{{workdir_tmp.path}}"
  diff: no

- name: Extract {{ phoenix_queryserver_dist_file }}
  unarchive:
    src: "{{workdir_tmp.path}}/{{ phoenix_queryserver_dist_file }}"
    dest: "{{ phoenix_queryserver_root_dir }}"
    group: root
    owner: root
    remote_src: yes
    creates: "{{ phoenix_queryserver_root_dir }}/{{ phoenix_queryserver_release }}"

- name: Create symbolic link to Phoenix QueryServer installation
  file:
    src: "{{ phoenix_queryserver_root_dir }}/{{ phoenix_queryserver_release }}"
    dest: "{{ phoenix_queryserver_install_dir }}"
    state: link

- name: Remove tmp path
  file:
    state: absent
    path: "{{workdir_tmp.path}}"