[Unit]
Description=HDFS DataNode
After=network-online.target
Wants=network-online.target

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
Type=forking
PIDFile={{ hadoop_hdfs_pid_dir }}/hadoop-hdfs-datanode.pid
ExecStart={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_dn_conf_dir }} --daemon start datanode
ExecStop={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_dn_conf_dir }} --daemon stop datanode
SuccessExitStatus=143
LimitNOFILE=64000
Restart={{ hdfs_dn_restart }}

[Install]
WantedBy=multi-user.target
