[Unit]
Description=HDFS JournalNode
After=network-online.target
Wants=network-online.target

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
Type=forking
PIDFile={{ hadoop_hdfs_pid_dir }}/hadoop-hdfs-journalnode.pid
ExecStart={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_jn_conf_dir }} --daemon start journalnode
ExecStop={{ hadoop_install_dir }}/bin/hdfs --config {{ hadoop_jn_conf_dir }} --daemon stop journalnode
SuccessExitStatus=143
LimitNOFILE=64000
Restart={{ hdfs_jn_restart }}

[Install]
WantedBy=multi-user.target
