# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure common kerberos installation tasks are performed
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: install

- name: Ensure common hadoop kerberos installation tasks are performed
  ansible.builtin.import_role:
    name: tosit.tdp.hadoop.common
    tasks_from: kerberos

- name: Template krb5 jaas
  ansible.builtin.template:
    src: krb5JAASrm.conf.j2
    dest: "{{ hadoop_rm_conf_dir }}/krb5JAASrm.conf"
    owner: root
    group: root
    mode: "644"

- name: Ensure yarn rm user's principal and keytab exist
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  vars:
    principal: rm/{{ ansible_fqdn }}@{{ realm }}
    keytab: rm.service.keytab
    user: "{{ yarn_user }}"
    group: "{{ hadoop_group }}"
    mode: "0600"
  when: krb_create_principals_keytabs

- name: Ensure yarn rm user's keytab is working
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: check_secure_keytab
  vars:
    principal: rm/{{ ansible_fqdn }}@{{ realm }}
    keytab: rm.service.keytab
    user: "{{ yarn_user }}"
    group: "{{ hadoop_group }}"
    mode: "0600"
  when: not krb_create_principals_keytabs
