# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
# First Step : Try to fetch all headless_keytabs from hosts
- name: Init headless_keytab fact
  # In the documentation of meta clear_facts: facts setted by set_fact are not cleared, so we must set it to empty string.
  ansible.builtin.set_fact:
    headless_keytab: ""

- name: Check if headless_keytab file exists
  ansible.builtin.stat:
    path: "{{ keytabs_dir }}/{{ keytab }}"
  register: headless_keytab_stat

- name: Fetch content of headless_keytab if exists
  ansible.builtin.slurp:
    src: "{{ keytabs_dir }}/{{ keytab }}"
  register: headless_keytab_encoded
  when: headless_keytab_stat.stat.exists

- name: Set local facts where headless_keytab exists
  ansible.builtin.set_fact:
    headless_keytab: "{{ headless_keytab_encoded.content }}"
  when: headless_keytab_stat.stat.exists

- name: Set fact the first headless_keytab found
  vars:
    # Get all local "headless_keytab" and remove undefined
    headless_keytab_list: "{{ ansible_play_hosts | map('extract', hostvars, 'headless_keytab') | select | list }}"
  ansible.builtin.set_fact:
    headless_keytab: "{{ headless_keytab_list | first }}"
  when: headless_keytab_list | length > 0
  run_once: true

# Second Step : Create a new headless_keytab if not exists
- name: Create headless keytab
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  run_once: true

- name: Load the new headless_keytab when not exists
  ansible.builtin.slurp:
    src: "{{ keytabs_dir }}/{{ keytab }}"
  register: headless_keytab_encoded
  run_once: true

- name: Set fact the new headless_keytab when not exists
  ansible.builtin.set_fact:
    headless_keytab: "{{ headless_keytab_encoded.content }}"
  run_once: true

# Final Step : Copy the headless_keytab to all hosts with an idempotent behavior
- name: Copy headless_keytab to all hosts
  ansible.builtin.copy:
    content: "{{ headless_keytab | b64decode }}"
    dest: "{{ keytabs_dir }}/{{ keytab }}"
    owner: "{{ user }}"
    group: "{{ group }}"
    mode: "{{ mode }}"
  no_log: true

- name: Reset headless_keytab fact for next usage
  ansible.builtin.set_fact:
    headless_keytab: ""
