[Unit]
Description=Ranger Usersync
After=network-online.target
Wants=network-online.target

[Service]
User={{ ranger_user }}
Group={{ hadoop_group }}
Type=forking
PIDFile={{ ranger_usersync_pid_dir }}/usersync.pid
ExecStart=/usr/bin/ranger-usersync start
ExecStop=/usr/bin/ranger-usersync stop
SuccessExitStatus=143
LimitNOFILE=64000
Restart={{ ranger_usync_restart }}

[Install]
WantedBy=multi-user.target
