# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure common kerberos installation tasks are performed
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: install

- name: Ensure hdfs jn user's principal and keytab exist
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  vars:
    principal: jn/{{ ansible_fqdn }}@{{ realm }}
    keytab: jn.service.keytab
    user: "{{ hdfs_user }}"
    group: "{{ hadoop_group }}"
    mode: "0600"
  when: krb_create_principals_keytabs

- name: Ensure hdfs jn user's keytab is working
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: check_secure_keytab
  vars:
    principal: jn/{{ ansible_fqdn }}@{{ realm }}
    keytab: jn.service.keytab
    user: "{{ hdfs_user }}"
    group: "{{ hadoop_group }}"
    mode: "0600"
  when: not krb_create_principals_keytabs
