# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- import_playbook: ../exporter_jmx_install.yml
- import_playbook: ../exporter_node_install.yml
# exporter_install
# exporter_config
- import_playbook: ../exporter_node_start.yml
# exporter_start
# exporter_init
- import_playbook: ../zookeeper_client_install.yml
- import_playbook: ../zookeeper_jmx-exporter_config.yml
- import_playbook: ../zookeeper_server_install.yml
- import_playbook: ../zookeeper_kerberos_install.yml
- import_playbook: ../zookeeper_client_config.yml
# zookeeper_install
- import_playbook: ../zookeeper_server_config.yml
# zookeeper_config
- import_playbook: ../zookeeper_server_start.yml
# zookeeper_server_init
# zookeeper_start
# zookeeper_init
- import_playbook: ../hadoop_client_install.yml
- import_playbook: ../hadoop_client_config.yml
# hadoop_install
# hadoop_config
# hadoop_start
# hadoop_init
- import_playbook: ../ranger_admin_install.yml
- import_playbook: ../ranger_jmx-exporter_config.yml
- import_playbook: ../ranger_usersync_install.yml
- import_playbook: ../ranger_kerberos_install.yml
- import_playbook: ../ranger_ssl-tls_install.yml
- import_playbook: ../ranger_admin_config.yml
- import_playbook: ../ranger_admin_start.yml
# ranger_admin_init
# ranger_install
- import_playbook: ../ranger_usersync_config.yml
# ranger_config
- import_playbook: ../ranger_usersync_start.yml
# ranger_start
# ranger_init
- import_playbook: ../hdfs_client_install.yml
- import_playbook: ../hdfs_datanode_install.yml
- import_playbook: ../hdfs_jmx-exporter_config.yml
- import_playbook: ../hdfs_journalnode_install.yml
- import_playbook: ../hdfs_namenode_install.yml
- import_playbook: ../hdfs_kerberos_install.yml
- import_playbook: ../hdfs_ranger_install.yml
- import_playbook: ../hdfs_ssl-tls_install.yml
- import_playbook: ../hdfs_datanode_config.yml
# hdfs_install
- import_playbook: ../hdfs_journalnode_config.yml
- import_playbook: ../hdfs_namenode_config.yml
- import_playbook: ../hdfs_client_config.yml
- import_playbook: ../hdfs_namenode_formatzk.yml
- import_playbook: ../hdfs_journalnode_start.yml
# hdfs_journalnode_init
- import_playbook: ../hdfs_ranger_config.yml
# hdfs_config
- import_playbook: ../hdfs_namenode_start.yml
# hdfs_namenode_init
- import_playbook: ../hdfs_datanode_start.yml
# hdfs_datanode_init
- import_playbook: ../hdfs_ranger_init.yml
# hdfs_client_init
# hdfs_start
# hdfs_init
- import_playbook: ../yarn_apptimelineserver_install.yml
- import_playbook: ../yarn_client_install.yml
- import_playbook: ../yarn_hdfs_init.yml
- import_playbook: ../yarn_jmx-exporter_config.yml
- import_playbook: ../yarn_mapred_jobhistoryserver_install.yml
- import_playbook: ../yarn_nodemanager_install.yml
- import_playbook: ../yarn_ranger_install.yml
- import_playbook: ../yarn_resourcemanager_install.yml
- import_playbook: ../yarn_kerberos_install.yml
- import_playbook: ../yarn_ssl-tls_install.yml
- import_playbook: ../yarn_apptimelineserver_config.yml
- import_playbook: ../yarn_apptimelineserver_start.yml
# yarn_install
- import_playbook: ../yarn_mapred_jobhistoryserver_config.yml
- import_playbook: ../yarn_mapred_jobhistoryserver_start.yml
- import_playbook: ../yarn_nodemanager_config.yml
- import_playbook: ../yarn_resourcemanager_config.yml
- import_playbook: ../yarn_client_config.yml
- import_playbook: ../yarn_ranger_config.yml
# yarn_config
- import_playbook: ../yarn_ranger_init.yml
- import_playbook: ../yarn_resourcemanager_start.yml
- import_playbook: ../yarn_nodemanager_start.yml
# yarn_client_init
# yarn_start
# yarn_init
# hive_client_init
- import_playbook: ../hive_client_install.yml
- import_playbook: ../hive_hdfs_init.yml
- import_playbook: ../hive_hiveserver2_install.yml
- import_playbook: ../hive_jmx-exporter_config.yml
- import_playbook: ../hive_metastore_install.yml
- import_playbook: ../hive_kerberos_install.yml
- import_playbook: ../hive_ranger_install.yml
- import_playbook: ../hive_ssl-tls_install.yml
- import_playbook: ../hive_client_config.yml
- import_playbook: ../hive_hiveserver2_config.yml
- import_playbook: ../hive_install.yml
- import_playbook: ../hive_metastore_config.yml
- import_playbook: ../hive_init_schema.yml
- import_playbook: ../hive_metastore_start.yml
- import_playbook: ../hive_ranger_config.yml
# hive_config
- import_playbook: ../hive_ranger_init.yml
- import_playbook: ../hive_hiveserver2_start.yml
# hive_hiveserver2_init
# hive_start
# hive_init
- import_playbook: ../hbase_client_install.yml
- import_playbook: ../hbase_hdfs_init.yml
- import_playbook: ../hbase_jmx-exporter_config.yml
- import_playbook: ../hbase_master_install.yml
- import_playbook: ../hbase_phoenix_client_install.yml
# hbase_phoenix_client_config
- import_playbook: ../hbase_phoenix_queryserver_client_install.yml
- import_playbook: ../hbase_phoenix_queryserver_client_config.yml
- import_playbook: ../hbase_phoenix_queryserver_daemon_install.yml
- import_playbook: ../hbase_phoenix_kerberos_install.yml
- import_playbook: ../hbase_phoenix_ssl-tls_install.yml
- import_playbook: ../hbase_phoenix_queryserver_daemon_config.yml
- import_playbook: ../hbase_ranger_install.yml
- import_playbook: ../hbase_regionserver_install.yml
- import_playbook: ../hbase_phoenix_coprocessor_install.yml
- import_playbook: ../hbase_rest_install.yml
- import_playbook: ../hbase_kerberos_install.yml
- import_playbook: ../hbase_client_config.yml
- import_playbook: ../hbase_ssl-tls_install.yml
# hbase_install
- import_playbook: ../hbase_master_config.yml
- import_playbook: ../hbase_master_start.yml
- import_playbook: ../hbase_regionserver_config.yml
- import_playbook: ../hbase_ranger_config.yml
- import_playbook: ../hbase_ranger_init.yml
- import_playbook: ../hbase_phoenix_ranger_init.yml
- import_playbook: ../hbase_regionserver_start.yml
- import_playbook: ../hbase_rest_config.yml
# hbase_config
- import_playbook: ../hbase_rest_start.yml
- import_playbook: ../hbase_phoenix_queryserver_daemon_start.yml
# hbase_start
# hbase_init
- import_playbook: ../spark_client_install.yml
- import_playbook: ../spark_hdfs_init.yml
# spark_historyserver_init
- import_playbook: ../spark_historyserver_install.yml
- import_playbook: ../spark_kerberos_install.yml
- import_playbook: ../spark_client_config.yml
- import_playbook: ../spark_ssl-tls_install.yml
- import_playbook: ../spark_historyserver_config.yml
- import_playbook: ../spark_historyserver_start.yml
# spark_install
# spark_config
# spark_start
# spark_init
- import_playbook: ../spark3_client_install.yml
- import_playbook: ../spark3_hdfs_init.yml
# spark3_historyserver_init
- import_playbook: ../spark3_historyserver_install.yml
- import_playbook: ../spark3_kerberos_install.yml
- import_playbook: ../spark3_client_config.yml
- import_playbook: ../spark3_ssl-tls_install.yml
- import_playbook: ../spark3_historyserver_config.yml
- import_playbook: ../spark3_historyserver_start.yml
# spark3_install
# spark3_config
# spark3_start
# spark3_init
- import_playbook: ../knox_gateway_install.yml
- import_playbook: ../knox_jmx-exporter_config.yml
- import_playbook: ../knox_kerberos_install.yml
- import_playbook: ../knox_ranger_install.yml
- import_playbook: ../knox_ssl-tls_install.yml
- import_playbook: ../knox_gateway_config.yml
# knox_install
- import_playbook: ../knox_ranger_config.yml
# knox_config
- import_playbook: ../knox_ranger_init.yml
- import_playbook: ../knox_gateway_start.yml
# knox_start
# knox_init
- import_playbook: ../kafka_broker_install.yml
- import_playbook: ../kafka_client_install.yml
- import_playbook: ../kafka_jmx-exporter_config.yml
- import_playbook: ../kafka_kerberos_install.yml
- import_playbook: ../kafka_client_config.yml
- import_playbook: ../kafka_ssl-tls_install.yml
# kafka_install
- import_playbook: ../zookeeperkafka_client_install.yml
- import_playbook: ../zookeeperkafka_jmx-exporter_config.yml
- import_playbook: ../zookeeperkafka_server_install.yml
- import_playbook: ../zookeeperkafka_kerberos_install.yml
- import_playbook: ../zookeeperkafka_client_config.yml
# zookeeperkafka_install
- import_playbook: ../zookeeperkafka_server_config.yml
# zookeeperkafka_config
- import_playbook: ../kafka_broker_config.yml
# kafka_config
- import_playbook: ../zookeeperkafka_server_start.yml
# zookeeperkafka_server_init
# zookeeperkafka_start
# zookeeperkafka_init
- import_playbook: ../kafka_broker_start.yml
# kafka_start
# kafka_init
