# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- ansible.builtin.import_playbook: ../hive_client_install.yml
- ansible.builtin.import_playbook: ../hive_hiveserver2_install.yml
- ansible.builtin.import_playbook: ../hive_metastore_install.yml
- ansible.builtin.import_playbook: ../hive_ranger_install.yml
- ansible.builtin.import_playbook: ../hive_ssl-tls_install.yml
- ansible.builtin.import_playbook: ../hive_kerberos_install.yml
- ansible.builtin.import_playbook: ../hive_install.yml
- ansible.builtin.import_playbook: ../hive_client_config.yml
# hive_client_init
- ansible.builtin.import_playbook: ../hive_hdfs_init.yml
- ansible.builtin.import_playbook: ../hive_jmx-exporter_config.yml
- ansible.builtin.import_playbook: ../hive_metastore_config.yml
- ansible.builtin.import_playbook: ../hive_init_schema.yml
- ansible.builtin.import_playbook: ../hive_metastore_start.yml
- ansible.builtin.import_playbook: ../hive_hiveserver2_config.yml
- ansible.builtin.import_playbook: ../hive_ranger_config.yml
# hive_config
- ansible.builtin.import_playbook: ../hive_ranger_init.yml
- ansible.builtin.import_playbook: ../hive_hiveserver2_start.yml
# hive_hiveserver2_init
# hive_start
# hive_init
