# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- ansible.builtin.import_playbook: ../ranger_admin_install.yml
- ansible.builtin.import_playbook: ../ranger_kms_install.yml
- ansible.builtin.import_playbook: ../ranger_solr_install.yml
- ansible.builtin.import_playbook: ../ranger_solr_start.yml
- ansible.builtin.import_playbook: ../ranger_solr_init.yml
- ansible.builtin.import_playbook: ../ranger_usersync_install.yml
- ansible.builtin.import_playbook: ../ranger_ssl-tls_install.yml
- ansible.builtin.import_playbook: ../ranger_kerberos_install.yml
# ranger_install
- ansible.builtin.import_playbook: ../ranger_admin_config.yml
- ansible.builtin.import_playbook: ../ranger_jmx-exporter_config.yml
- ansible.builtin.import_playbook: ../ranger_admin_start.yml
# ranger_admin_init
- ansible.builtin.import_playbook: ../ranger_kms_config.yml
- ansible.builtin.import_playbook: ../ranger_kms_start.yml
- ansible.builtin.import_playbook: ../ranger_kms_init.yml
- ansible.builtin.import_playbook: ../ranger_usersync_config.yml
# ranger_config
- ansible.builtin.import_playbook: ../ranger_usersync_start.yml
# ranger_start
# ranger_init
