# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- ansible.builtin.import_playbook: ../yarn_apptimelineserver_install.yml
- ansible.builtin.import_playbook: ../yarn_client_install.yml
- ansible.builtin.import_playbook: ../yarn_mapred_jobhistoryserver_install.yml
- ansible.builtin.import_playbook: ../yarn_nodemanager_install.yml
- ansible.builtin.import_playbook: ../yarn_ranger_install.yml
- ansible.builtin.import_playbook: ../yarn_resourcemanager_install.yml
- ansible.builtin.import_playbook: ../yarn_kerberos_install.yml
- ansible.builtin.import_playbook: ../yarn_ssl-tls_install.yml
# yarn_install
- ansible.builtin.import_playbook: ../yarn_apptimelineserver_config.yml
- ansible.builtin.import_playbook: ../yarn_hdfs_init.yml
- ansible.builtin.import_playbook: ../yarn_jmx-exporter_config.yml
- ansible.builtin.import_playbook: ../yarn_apptimelineserver_start.yml
- ansible.builtin.import_playbook: ../yarn_mapred_jobhistoryserver_config.yml
- ansible.builtin.import_playbook: ../yarn_mapred_jobhistoryserver_start.yml
- ansible.builtin.import_playbook: ../yarn_nodemanager_config.yml
- ansible.builtin.import_playbook: ../yarn_resourcemanager_config.yml
- ansible.builtin.import_playbook: ../yarn_client_config.yml
- ansible.builtin.import_playbook: ../yarn_ranger_config.yml
# yarn_config
- ansible.builtin.import_playbook: ../yarn_ranger_init.yml
- ansible.builtin.import_playbook: ../yarn_apptimelineserver_ranger_init.yml
- ansible.builtin.import_playbook: ../yarn_resourcemanager_start.yml
- ansible.builtin.import_playbook: ../yarn_nodemanager_start.yml
# yarn_client_init
# yarn_start
# yarn_init
