# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: HBase Client Config
  hosts:
    - hbase_client
    - yarn_ats
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hbase_client
    - name: Configure HBase Client
      ansible.builtin.import_role:
        name: tosit.tdp.hbase.client
        tasks_from: config
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
