# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Kerberos HBase Master install
  hosts: hbase_master
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hbase_kerberos
    - name: Install HBase Master Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hbase.master
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos HBase RegionServer install
  hosts: hbase_rs
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hbase_kerberos
    - name: Install HBase RegionServer Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hbase.regionserver
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos HBase Rest install
  hosts: hbase_rest
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hbase_kerberos
    - name: Install HBase Rest Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hbase.rest
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos HBase Client install
  hosts: hbase_client
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hbase_kerberos
    - name: Install HBase Client Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hbase.client
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
  vars:
    tdp_lib:
      can_limit: false
