# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Kerberos Namenode install
  hosts: hdfs_nn
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hdfs_kerberos
    - name: Install Namenode Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hdfs.namenode
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos Journalnode install
  hosts: hdfs_jn
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hdfs_kerberos
    - name: Install Journalnode Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hdfs.journalnode
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos Datanode install
  hosts: hdfs_dn
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hdfs_kerberos
    - name: Install Datanode Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hdfs.datanode
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos HDFS Client install
  hosts: hadoop_client
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hdfs_kerberos
    - name: Install HDFS Client Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hdfs.client
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
  vars:
    tdp_lib:
      can_limit: false
- name: Kerberos HttpFS install
  hosts: hdfs_httpfs
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hdfs_kerberos
    - name: Install HttpFS Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hdfs.httpfs
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
