# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Post install steps for Hive
  hosts: edge
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: hive_hdfs
    - import_role:
        name: tosit.tdp.hive.common
        tasks_from: hdfs_init
    - meta: clear_facts
