# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Kerberos HiveServer2 install
  hosts: hive_s2
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hive_kerberos
    - name: Install Hive HiveServer2 Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hive.hiveserver2
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos HiveMetastore install
  hosts: hive_ms
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hive_kerberos
    - name: Install Hive Metastore Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hive.metastore
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos Hive Client install
  hosts: hive_client
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hive_kerberos
    - name: Install Hive Client Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.hive.client
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
  vars:
    tdp_lib:
      can_limit: false
