# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Kerberos spnego install
  hosts: kerberos_spnego
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: kerberos_spnego
    - name: Install Kerberos spnego
      ansible.builtin.import_role:
        name: tosit.tdp.kerberos.spnego
        tasks_from: install
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
  vars:
    tdp_lib:
      can_limit: false
