# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: jmx-exporter Knox Gateway config
  hosts: knox
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: knox_jmx-exporter
    - name: Configure Knox Gateway jmx-exporter
      ansible.builtin.import_role:
        name: tosit.tdp.knox.common
        tasks_from: jmx-exporter
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
