# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Post install steps for Spark
  hosts: edge[0]
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: spark_hdfs
    - import_role:
        name: tosit.tdp.spark.common
        tasks_from: hdfs_init
    - meta: clear_facts
