# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
# Cannot be limited to specific hosts due to the `Install Spark3 Client Kerberos` task.
- name: Kerberos Spark3 HistoryServer install
  hosts: spark3_hs
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: spark3_kerberos
    - name: Install Spark3 History Server Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.spark.historyserver
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Spark3 Kerberos Client install
  hosts: spark3_client
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: spark3_kerberos
    - name: Install Spark3 Client Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.spark.client
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
  vars:
    tdp_lib:
      can_limit: false
