# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Kerberos Resource Manager install
  hosts: yarn_rm
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: yarn_kerberos
    - import_role:
        name: tosit.tdp.yarn.resourcemanager
        tasks_from: kerberos
    - meta: clear_facts
- name: Kerberos Nodemanager install
  hosts: yarn_nm
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: yarn_kerberos
    - import_role:
        name: tosit.tdp.yarn.nodemanager
        tasks_from: kerberos
    - meta: clear_facts
- name: Kerberos AppTimelineServer install
  hosts: yarn_ats
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: yarn_kerberos
    - import_role:
        name: tosit.tdp.yarn.apptimelineserver
        tasks_from: kerberos
    - meta: clear_facts
- name: Kerberos Job History Server install
  hosts: mapred_jhs
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: yarn_kerberos
    - import_role:
        name: tosit.tdp.yarn.jobhistoryserver
        tasks_from: kerberos
    - meta: clear_facts
- name: Kerberos Yarn Client install
  hosts: edge[0]
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: yarn_kerberos
    - import_role:
        name: tosit.tdp.yarn.client
        tasks_from: kerberos
    - meta: clear_facts
