# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Kerberos Resource Manager install
  hosts: yarn_rm
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: yarn_kerberos
    - name: Install YARN Resource Manager Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.yarn.resourcemanager
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos Nodemanager install
  hosts: yarn_nm
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: yarn_kerberos
    - name: Install YARN Node Manager Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.yarn.nodemanager
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos AppTimelineServer install
  hosts: yarn_ats
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: yarn_kerberos
    - name: Install YARN Application Timeline Server Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.yarn.apptimelineserver
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos Job History Server install
  hosts: mapred_jhs
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: yarn_kerberos
    - name: Install YARN Mapred Job History Server Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.yarn.jobhistoryserver
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos Yarn Client install
  hosts: hadoop_client
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: yarn_kerberos
    - name: Install YARN Client Kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.yarn.client
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
  vars:
    tdp_lib:
      can_limit: false
