# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Kerberos Zookeeper Server Install
  hosts: zk
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: zookeeper_kerberos
    - import_role:
        name: tosit.tdp.zookeeper.server
        tasks_from: kerberos
    - meta: clear_facts

- name: Kerberos Zookeeper Client Install
  hosts: edge[0]
  strategy: linear
  tasks:
    - tosit.tdp.resolve:
        node_name: zookeeper_kerberos
    - import_role:
        name: tosit.tdp.zookeeper.client
        tasks_from: kerberos
    - meta: clear_facts
