# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
# Cannot be limited to specific hosts due to the `Install zookeeper client kerberos` task.
- name: Kerberos Zookeeper Server Install
  hosts: zk
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: zookeeper_kerberos
    - name: Install zookeeper server kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.zookeeper.server
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
- name: Kerberos Zookeeper Client Install
  hosts: edge
  strategy: linear
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: zookeeper_kerberos
    - name: Install zookeeper client kerberos
      ansible.builtin.import_role:
        name: tosit.tdp.zookeeper.client
        tasks_from: kerberos
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
  vars:
    tdp_lib:
      can_limit: false
