# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Template install.properties
  ansible.builtin.template:
    src: usersync_install.properties.j2
    dest: "{{ ranger_usersync_install_dir }}/install.properties"
    owner: "{{ ranger_user }}"
    group: "{{ hadoop_group }}"
    mode: "750"
  no_log: "{{ tdp_no_log is not defined or tdp_no_log }}"

- name: Setup usersync
  ansible.builtin.shell: |
    export JAVA_HOME={{ java_home }}
    export PATH="${JAVA_HOME}/bin:${PATH}"
    {{ python_interpreter }} ./setup.py
  args:
    chdir: "{{ ranger_usersync_install_dir }}"

- name: Ensure core-site.xml has correct owner and permissions
  ansible.builtin.file:
    path: "{{ hadoop_root_conf_dir }}/conf/core-site.xml"
    state: file
    owner: "root"
    group: "root"
    mode: "0644"

- name: Render ranger-usersync-logback.xml
  ansible.builtin.template:
    src: ranger-usersync-logback.xml.j2
    dest: "{{ ranger_usersync_install_dir }}/conf/logback.xml"
    owner: "{{ ranger_user }}"
    group: "{{ hadoop_group }}"
    mode: "750"

- name: Ensure ranger-ugsync-site.xml is configured
  ansible.builtin.import_role:
    name: tosit.tdp.utils.xml
    tasks_from: merge
  vars:
    configuration_file: "{{ ranger_usersync_install_dir }}/conf/ranger-ugsync-site.xml"
    merge_var: "{{ usersync_site }}"

- name: Render ranger-usersync-services.sh
  ansible.builtin.template:
    src: ranger-usersync-services.sh.j2
    dest: "{{ ranger_usersync_install_dir }}/ranger-usersync-services.sh"
    owner: "{{ ranger_user }}"
    group: "{{ hadoop_group }}"
    mode: "750"
