[Unit]
Description=HBase Master
After=network-online.target
Wants=network-online.target

[Service]
User={{ hbase_user }}
Group={{ hadoop_group }}
Type=forking
PIDFile={{ hbase_pid_dir }}/hbase-hbase-master.pid
ExecStart={{ hbase_install_dir }}/bin/hbase-daemon.sh --config {{ hbase_master_conf_dir }} start master
ExecStop={{ hbase_install_dir }}/bin/hbase-daemon.sh --config {{ hbase_master_conf_dir }} stop master
SuccessExitStatus=143
LimitNOFILE=64000
Restart={{ hbase_master_restart }}

[Install]
WantedBy=multi-user.target
